.ResultBox {
  height: 100vh;
  width: 100vw;
}
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 12px;
  letter-spacing: 2px;
  box-shadow: var(--shadow) 0px 1px 4px;
  border: none;
  padding: 8px 10px;
  margin-top: 1.5rem;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.tableDiv {
  margin: 0rem 3rem;
  margin-top: 2rem;
}

table {
  width: 100%;
  box-shadow: var(--shadow) 0px 1px 4px;
  background-color: var(--white-color);
  border-radius: 5px;
}

th {
  font-weight: bolder;
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 0.5rem 0;
}

td {
  text-align: center;
  padding: 1rem 0rem;
}

@media screen and (max-width: 500px) {
  .tableDiv {
    margin: 0rem 1rem;
  }
}
