.DishesBox {
  height: 100vh;
  width: 100vw;
}
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 12px;
  letter-spacing: 2px;
  box-shadow: var(--shadow) 0px 1px 4px;
  border: none;
  padding: 8px 10px;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.flexCard {
  margin: 0rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2rem;
}
