.dishCard {
  margin-top: 3rem;
  background-color: var(--white-color);
  box-shadow: var(--shadow) 0px 1px 4px;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  width: 18rem;
}

.dishCardImgBox {
  position: relative;
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
}

.dishCardImgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.dishCardtitle {
  color: var(--black-color);
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 10px;
  color: var(--red-color);
}

.dishCardContent {
  margin-bottom: 1rem;
}

.voteBtn {
  display: flex;
  gap: 10px;
}

.voteBtn button {
  padding: 5px 10px;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 7px;
}

.voteBtn button:active {
  background-color: var(--white-color);
  color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
   .dishCard{
    width: 15rem;
   } 
}

 @media screen and (max-width: 575px) {
    .dishCard{
     width: 29rem;
    } 
 }
 