
.tables{
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

table{
	width:100%;
	border:1px solid black;
}

thead {
	display:flex;
	width:100%;
	background:#000;
	padding:1.5 0;
    color :white;
}

tr {
	display:flex;
	width:100%;
    height: 40px;
	padding:1.6 0;
}

td, th {
    border:1px solid black;
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

	
